* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Georgia", serif;
    background: #0f0f0f;
    color: #fff;
    overflow-x: hidden;
}

/* HEADER */
.legal-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #e1ebec05;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    height: 49px;   /* altura real del navbar */
}

.logo img {
    height: 100%;
    width: auto;
    object-fit: contain;
    border-radius: 4px;
}

.logo span {
    padding: 1rem;
    color: #c8a96a;
}

/* NAV BASE */
.legal-nav {
    display: flex;
    align-items: center;
}

.legal-nav a {
    color: #c8a96a;
    margin-left: 20px;
    text-decoration: none;
}

.legal-nav a.btn-gold{
     color: #f9f9f9;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #c8a96a;
}


/* BOTONES */
.btn-gold {
    background: linear-gradient(rgba(187, 149, 149, 0.45), rgba(0, 0, 0, 0.45));
    color: #111;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.btn-outline {
    border: 2px solid #c8a96a;
    color: #c8a96a;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

/* HERO */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 120px 60px;

    background: 
        linear-gradient(
            rgba(0,0,0,0.55),
            rgba(0,0,0,0.55)
        ),
        url("../imagenes/hogar.jpg") center/cover no-repeat;
}

.hero-text {
    max-width: 600px;
}

.hero-text a{
    background-color: rgb(30, 165, 57);
}

.hero-text h1 {
    font-size: 60px;
    line-height: 1.1;
}

.hero-text p {
    font-size: 20px;
    color: #c8a96a;
    margin: 15px 0 25px;
}

.hero-img img {
    max-width: 380px;
    border-radius: 15px;
}

/* STATS */
.stats {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 60px;
    background: #151515;
}

.stats h3 {
    font-size: 40px;
    color: #c8a96a;
    text-align: center;
}

/* SERVICES */
.services {
    padding: 80px 40px;
    text-align: center;
}

.services-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card {
    background: #c8a96a;
    padding: 30px;
    width: 260px;
    border-radius: 12px;
}

.card span {
    font-size: 40px;
}

/* ABOUT */
.about {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 80px 60px;
}

.about-img img {
    max-width: 700px;
    border-radius: 15px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero, .about {
        flex-direction: column;
        text-align: center;
    }

    .services-grid {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 768px) {
    .hero {
        padding: 100px 25px;
        background-position: top center;
    }

    .hero-text h1 {
        font-size: 42px;
    }
}
/*CSS – versión MÓVIL (la magia)*/

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .legal-nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: #111;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 25px 0;

        /* OCULTO POR DEFECTO */
        display: none;
    }

    .legal-nav.active {
        display: flex;
    }

    .legal-nav a {
        font-size: 18px;
    }
}

/*Ajuste fino en móvil LOGO*/
@media (max-width: 768px) {
    .logo {
        height: 40px;
    }
}

.legal-bar {
  background-color: #0f0f12;
  padding: 30px 0;
}

/* 🔑 CENTRADOR REAL */
.legal-wrapper {
  display: flex;
  justify-content: center;   /* 👈 centra todo el bloque */
}

/* CONTENIDO CON ANCHO CONTROLADO */
.legal-container {
  width: 1100px;             /* 👈 ajusta aquí si quieres más o menos separación */
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* BLOQUES */
.legal-right,
.legal-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.legal-left img {
  width: 60px;
}

.legal-text h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1;
}

.legal-text span {
  color: #caa24d;
  font-size: 14px;
  letter-spacing: 4px;
}

/* DIVISOR */
.legal-divider {
  width: 1px;
  height: 55px;
  background-color: rgba(255,255,255,0.3);
}

.legal-right p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.legal-right i {
  color: #caa24d;
  font-size: 18px;
}

/* FOOTER */
footer {
    background: linear-gradient(rgba(187, 149, 149, 0.45), rgba(0, 0, 0, 0.45));
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

@media (max-width: 768px) {

  .legal-wrapper {
    justify-content: center;
  }

  .legal-container {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    gap: 18px;
    text-align: center;
  }

  .legal-divider {
    display: none;
  }

  .legal-left,
  .legal-right {
    justify-content: center;
  }

  .legal-right {
    order: 2;
  }

  .legal-left {
    order: 1;
  }

  .legal-right p {
    justify-content: center;
    font-size: 15px;
  }

  .legal-left img {
    width: 52px;
  }

  .legal-text h2 {
    font-size: 26px;
  }

  .legal-text span {
    font-si




